version: "3.9"
services:
  nginx:
    image: nginx:1.23.1-alpine
    container_name: nginx
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./config/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
