version: "3.9"
services:
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "host"
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-UTC}
    volumes:
      - ./config:/config
    restart: unless-stopped
